<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registerationForm" (ngSubmit)="OnSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="userName" formControlName="userName">
            <span class="error-block" *ngIf="!userName.valid && (userName.touched|| userSubmitted)">
              Please provide Name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <span class="error-block" *ngIf="!email.valid && (email.touched||userSubmitted)">
            <span *ngIf="email.hasError('required')">
              Please provide Email
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide valid Email
            </span>
            </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <span class="error-block" *ngIf="!password.valid && (password.touched||userSubmitted)">
            <span *ngIf="password.hasError('required')">
              Please provide Password
            </span>
            <span *ngIf="password.hasError('minlength')">
              password should have atleast 8 characters 
            </span>
            </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword">
          <span class="error-block" *ngIf="!confirmpassword.valid && confirmpassword.touched">
            <span *ngIf="confirmpassword.hasError('required')">
              Please Confirm Password
            </span>
          </span>
          <span class="error-block" *ngIf="confirmpassword.valid && registerationForm.hasError('notmatched')">
              password not matched
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" id="Mobile" formControlName="Mobile">
          <span class="error-block" *ngIf="!mobile.valid && (mobile.touched||userSubmitted)">
            <span *ngIf="mobile.hasError('required')">
              Please Provide Mobile
            </span>
            <span *ngIf="mobile.hasError('pattern')">
              Please Provide valid Mobile
            </span>
            <span *ngIf="mobile.hasError('minlength')">
              Please Provide 10 digit Mobile
            </span>
            <span *ngIf="mobile.hasError('maxlength')">
              Please Provide 10 digit Mobile
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary m-2">Save</button>
          <button type="reset" class="btn btn-secondary ">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>